#contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: purple;
    min-height: 100vh; /* fill screen */
}

#etchContainer {
    padding: 15px; /* 'border' of picture */
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(16, 62px);
    grid-template-rows: repeat(16, 62px); /* unnecessary */
    width: 500px;
    height: 500px;
}

.etchDiv {
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#optionsContainer {
    gap: 25px;
}

#sliderContainer {
    gap: 10px;
}

#slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    opacity: 0.8;
    -webkit-transition: .1s; /* 0.2 seconds transition on hover */
    transition: opacity .1s;
}

#slider:hover {
    opacity: 1;
}